.loader-container {
  position: relative;
  display: block;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loader.load-more {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 90%);
}

.loader.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 10px solid var(--accent-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
